.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
  
  .main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
  }
  
  .center-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 20px;
  }
  .map-container{
    height: 400px;
    width: 80%;
    
    border: 1px solid #a7c9ae;
    overflow: hidden;
    margin: 20px;
  }
  .right-toolside {
    width: 10%;
    height: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
  }
  
  .upper-tool {
    width: 93%;
    height: 50px;
    background-color: #a7c9ae;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 93px;
    position: relative;
  }
 
  .exit-button, .settings-button ,.info-button{
  
    background-color: rgb(40, 90, 68); /* Makes the button black */
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Makes the button round */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
  }
  .settings-button{
    margin-right: 50px;
  }
  .info-button{
    margin-right: 100px;
  }