.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
  
  .main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
  }
  
  .center-main {
    width: 80%;
    height: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 20px;
  }
  
  .right-toolside {
    width: 10%;
    height: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 50px;
  }
  
  .upper-tool {
    width: 93%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #a7c9ae;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 93px;
    position: relative;
  }
 
  .exit-button, .settings-button ,.info-button{
  
    background-color: rgb(40, 90, 68); /* Makes the button black */
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Makes the button round */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
  }
  .settings-button{
    margin-right: 50px;
  }
  .info-button{
    margin-right: 100px;
  }
  .search-bar{
    display: flex;
    align-items: center;
    width: 160px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    margin-top: 3px;
    padding: 5px;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .search-input {
   width: 150px;
   height: 25px;
    font-size: 16px;
    flex: 1; /* Ensures input takes up remaining space */
  }
  
  .search-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
  }

  .category-buttons {
    display: flex;
    gap: 10px;
    margin-left: 40px;
  }
  
  .category-button {
    padding: 5px 10px;
    border: none;
    background-color:  rgb(40, 90, 68);
    color: white;
    cursor: pointer;
    
    border-radius: 5px;
  }
  
  .category-button.active {
    background-color: #00491e;
  }
  
  .category-button:hover {
    background-color: #333;
  }
  