/* SettingsPage.css */
.settings-page-container {
  display: flex; /* Use flex instead of fixed */
  justify-content: center;
  align-items: stretch;  /* Ensure that both the components stretch vertically */
  height: 600px;  
}

.main-content-container {
  padding: 20px;
  margin-top: 30px;
  width: 1200px;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  height: 900px;  /* Make it take the full height of the parent container */
  flex: 1; /* Ensure it stretches to fill the available space */
}

.profile {
  display: flex; /* Use flexbox to center the content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #ada9a9;
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden;
  margin-top: 20px;
}

.profile img {
  width: 100%; /* Make the image take the full width of the container */
  height: 100%; /* Make the image take the full height of the container */
  object-fit: cover; /* Ensure the image covers the container without distortion */
}

.divider {
  height: 100%;
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}