/* Settings Page Layout */
.settings-page-container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* This ensures child elements stretch to the same height */
  height: 80%
  }
  
  .settings-page-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .vertical-container {
    display: flex;
    margin-top: 30px;
    flex-direction: column; /* Stack profile and settings list vertically */
    flex: 0 0 200px; /* Fixed width for the vertical component */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  .divider {
    height: auto; /* Let it stretch with flexbox */
    width: 1px;
    margin-top: 30px;
    background-color: #ccc;
    margin: 0 20px;
  }
  .vertical-container .profile {
    text-align: center;
  }
  
  .profile-image {
    width: 80px;
    height: 50px;
    border-radius: 50%;
  }
  
  .settings-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .settings-list ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .settings-page-content .divider {
    width: 1px;
    background-color: #ccc;
    height: 100%;
  }
  
  .main-container {
    width: 75%;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  