<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1><%= category %> users:</h1>
    <ul>
        <% for(let user of users){ %>
            <li> <a href="/users/<%=user.id %>"> <%= user.name %></a> </li>
        <% } %>
    </ul>
    <a href="/users/new">Sign up</a>
    <% if(category!=='All'){%>
        <a href="/users">All users</a>
    <%}%>
</body>
</html>