<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h1>Add a new user</h1>
    <form action="/users" method="POST">
        <label for="fname">First name:</label>
        <input type="text" name="name" placeholder="first name" id="fname">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="password" id="password">
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="Gobnik">Gobnik</option>
            <option value="Unkmown">Unkmown</option>
        </select>
        <button>Create User</button>
    </form>
    <a href="/users">Home</a>
</body>
</html>