/* Chat popup styles */
.chat-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
  }
  
  .chat-popup .inner-chat-popup {
    padding: 20px;
    user-select: none;
  }
  /* Inner popup styles */
.inner-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Use relative positioning for inner content */
    user-select: none; /* Disable selection in the content area */
    max-width: 700px;
    width: 100%; /* Ensure the width is contained within the popup */
    overflow: hidden; /* Prevent content from overflowing */
    transition: max-height 0.3s ease-in-out;
    margin-bottom: 10px;
  }
  
  .inner-popup.collapsed {
    max-height: 90px; /* Shrink the popup's height when collapsed */
    overflow: hidden;
  }