/* Popup styles */
.popup {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 600px;
  overflow-x: hidden;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Softer shadow */
}

/* Header with close and collapse buttons */
.popup-header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  user-select: none;
  margin-bottom: 10px;
}

.popup-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #333;
  margin-right: 10px;
}

/* Popup body content */
.popup-body {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  user-select: none;
  height: auto;
  transition: max-height 0.3s ease-in-out;
}

.popup-body.collapsed {
  height: 20px; /* Reduced height when collapsed */
}

/* Hover effects for buttons */
.btn-close:hover,
.btn-collapse:hover {
  color: #4CAF50;
}

/* Styling for the close button */
.btn-close {
  font-size: 24px;
  margin-right: 10px;
}

/* Styling for the collapse button */
.btn-collapse {
  font-size: 20px;
}
