/* Disable text selection for the entire popup */
.popup {
  position: fixed;
  z-index: 1000;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For Internet Explorer/Edge */
  user-select: none;         /* For modern browsers */
}

.popup.bottom-right {
  top: 420px;
  right: -200px;
  transform: none;
}

.popup.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.inner-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  user-select: none; /* Disable selection in the content area */
}

.btn-close {
  position: absolute;
  top: 0.1px;
  border-radius: 10px;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
  right: 10px; 
  margin-left: 10px;
}

.btn-close:hover {
  color: #555;
  background-color: #4CAF50;
  transform: scale(0.6)
}

.btn-collapse {
  position: absolute;
  top: 0.1px;
  right: 60px; /* Position it next to the close button */
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn-collapse:hover {
  color: #555;
  background-color: #4CAF50;
  transform: scale(0.6)
}




.inner-popup.collapsed {
  height: 90px; /* Shrink the popup's height when collapsed */
}

.button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  position: relative;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
